<!-- templates/solicitar.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Solicitud de Partida de Nacimiento</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Solicitar Partida de Nacimiento</h1>
    <form action="/solicitar" method="post">
        <label>Nombre Completo:</label><br />
        <input type="text" name="nombre" required /><br /><br />

        <label>Fecha de Nacimiento:</label><br />
        <input type="date" name="fecha_nacimiento" required /><br /><br />

        <label>Lugar de Nacimiento:</label><br />
        <input type="text" name="lugar_nacimiento" required /><br /><br />

        <label>Nombre del Padre:</label><br />
        <input type="text" name="nombre_padre" /><br /><br />

        <label>Nombre de la Madre:</label><br />
        <input type="text" name="nombre_madre" /><br /><br />

        <button type="submit">Solicitar partida de nacimiento</button>
    </form>
</body>
</html>
